body {
    background-image: url(FondoPantalla.jpg);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#fileInput{
    display: none;
}

#customButton{
    padding: 10px, 20px;
    color: #fff;
    cursor: pointer;
}

#nombreArchivo{
    margin-top: 10px;
}

#contenedorAudio{
    display: none;
    margin-top: 20px;
} 

#infoContenedor{
    margin-top: 20px;
}
